body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(Images/temple.jpg);
    font-family: 'Mirza', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.modalphoto {
    width:200px;
    height:auto;
}
.thumbnail{
    width:32px;
    height:auto;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.navbar-custom {
    background-color:#f48342;
    color:#364745;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #364745;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#364745;
}

.tableHead {
    background-color: #f48342
}

.btn-custom {
    border-radius: 10px;
    height: 30px;
}

.select-custom{
    border-radius: 10px;
    width: 185px;
    height: 30px;
    margin-bottom: 15px;
}

.name-input{
    border-radius: 4px;
    width: 185px;
    height: 30px;
    margin-bottom: 5px;
}

h2{
    font-family: 'Merienda', cursive;
    color: #636033;
}

h4{
    font-family: 'Merienda', cursive;
}

.holdFor{
    font-size: 2.5em;
}

.editPoseInput {
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
    width: 50px;
}