@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">Practice Viewer</h2>
<div ng-controller="practiceCtrl">
    <div class="containter">
        <div class="row">
            <div class="col-xs-2">
                <select ng-model="selectedPractice" ng-options="practice.Name for practice in practices"></select>
            </div>
            <div class="col-xs-4">
                <!-- trigger slideshow -->
                <button type="button" class="btn btn-primary" ng-hide="!selectedPractice" data-toggle="modal" data-target="#myModal" ng-click="count=0">
                    View As Slideshow
                </button>
                <button type="button" class="btn btn-primary" ng-hide="!selectedPractice" ng-click="deletePractice()">
                    Delete Practice
                </button>
            </div>
        </div>
    </div>

    <!-- current practice -->
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading tableHead">
                    <h4>
                        {{selectedPractice.Name}}
                    </h4>
                </div>
                <table class="table table-fixed tableBody">
                    <thead>
                        <tr>
                            <th class="col-xs-3">Name</th>
                            <th class="col-xs-2">Duration</th>
                            <th class="col-xs-2">Side</th>
                            <th class="col-xs-3">Thumbnail</th>
                            <th class="col-xs-2">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pose in selectedPractice.Poses">
                            <td class="col-xs-3">{{pose.Name}}</td>
                            <td class="col-xs-2">{{pose.Duration}} Breaths</td>
                            <td class="col-xs-2">{{pose.Side}}</td>
                            <td class="col-xs-3"><img class="thumbnail" src={{pose.Reference.ImageURL}} /></td>
                            <td class="col-xs-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewpose" ng-click="popUpPose(pose)">
                                    View/Edit
                                </button>
                                <button class="btn btn-default" ng-click="remove(pose)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- slideshow modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-keydown="count=count+1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" ng-hide="count>=selectedPractice.poses.length">{{selectedPractice.Name}} | Pose {{count+1}} out of {{selectedPractice.poses.length}}</h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="count>=selectedPractice.poses.length">Practice complete! You did it!</h4>
                </div>
                <div class="modal-body" ng-hide="count>=selectedPractice.poses.length">
                    <div class="container">
                        <div class="row">
                            <img class="slideImage col-xs-6" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Trikonasana_Yoga-Asana_Nina-Mel.jpg" />
                            <div class="holdFor text-center col-xs-6"><p>Hold pose for:<br />{{selectedPractice.poses[count].Duration}}</br>Breaths</p></div>
                        </div>
                    </div>
                    <div class="poseInfo">
                        <p>{{selectedPractice.poses[count].Info}}</p>
                    </div>
                </div>
                <div class="modal-body" ng-show="count>=selectedPractice.poses.length">
                    <p class="text-center">Namaste!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-init="count=0" ng-click="count= count + 1 " ng-hide="count>=selectedPractice.poses.length">Next Pose</button>
                </div>
            </div>
        </div>
    </div>

    <!-- view/edit modal -->
    <div class="modal fade" id="viewpose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{current.Name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <form>
                                    <label>Hold:<input type="text" ng-model="current.Duration" />Breaths</label>
                                    <label>Side:<input type="text" ng-model="current.Side" /></label>
                                </form>
                            </div>
                            <div class="col-xs-6">
                                <img class="modalphoto" src={{current.Reference.ImageURL}} />
                            </div>
                        </div>
                    </div>
                    <div>
                        {{current.Info}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveChanges(current.Duration, current.Side)" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>