@{
    ViewBag.Title = "Practice Viewer";
}

<h2 class="text-center">Practice Viewer</h2>
<div ng-controller="practiceCtrl">
    <div class="containter">
        <div class="row">
            <div class="col-xs-2">
                <label>Select a practice to view:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <select class="select-custom" ng-model="selectedPractice" ng-options="practice.Name for practice in practices"></select>
            </div>
            <div class="col-xs-4">
                <!-- trigger slideshow -->
                <button type="button" class="btn-custom" ng-hide="!selectedPractice" data-toggle="modal" data-target="#myModal" ng-click="count=0; tallyDuration()">
                    View As Slideshow
                </button>
                <button type="button" class="btn-custom btn-danger" ng-hide="!selectedPractice" ng-click="deletePractice()">
                    Delete Practice
                </button>
            </div>
        </div>
    </div>

    <!-- current practice -->
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading tableHead">
                    <h4>
                        {{selectedPractice.Name}}
                    </h4>
                </div>
                <table class="table table-fixed tableBody">
                    <thead>
                        <tr>
                            <th class="col-xs-3">Name</th>
                            <th class="col-xs-2">Duration</th>
                            <th class="col-xs-2">Side</th>
                            <th class="col-xs-2">Thumbnail</th>
                            <th class="col-xs-3">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pose in selectedPractice.Poses">
                            <td class="col-xs-3">{{pose.Name}}</td>
                            <td class="col-xs-2">{{pose.Duration}} Breaths</td>
                            <td class="col-xs-2">{{pose.Side}}</td>
                            <td class="col-xs-2"><img class="thumbnail" src={{pose.Reference.ImageURL}} /></td>
                            <td class="col-xs-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewpose" ng-click="popUpPose(pose)">
                                    View/Edit
                                </button>
                                <button class="btn btn-danger" ng-click="remove(pose)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3 class="text-center"> Use View/Edit buttons to view pose in detail, Set/change side or change duration of a pose!</h3>

    <!-- slideshow modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-keydown="count=count+1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" ng-hide="count>=selectedPractice.Poses.length">{{selectedPractice.Name}} | Pose {{count+1}} out of {{selectedPractice.Poses.length}} | Press any key to advance</h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="count>=selectedPractice.Poses.length">Practice complete! You did it!</h4>
                </div>
                <div class="modal-body" ng-hide="count>=selectedPractice.Poses.length">
                    <div class="container">
                        <div class="row">
                            <img class="slideImage col-xs-6" src={{selectedPractice.Poses[count].Reference.ImageURL}} />
                            <div class="holdFor text-center col-xs-6">
                                <p>Hold pose for:<br />{{selectedPractice.Poses[count].Duration}}</br>Breaths</p>
                                <p>Side: {{selectedPractice.Poses[count].Side}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="poseInfo">
                        <p>{{selectedPractice.Poses[count].Reference.Info}}</p>
                    </div>
                </div>
                <div class="modal-body" ng-show="count>=selectedPractice.Poses.length">
                    <h2 class="text-center">Namaste!</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-init="count=0" ng-click="count= count + 1 " ng-hide="count>=selectedPractice.Poses.length">Next Pose</button>
                </div>
            </div>
        </div>
    </div>

    <!-- view/edit modal -->
    <div class="modal fade" id="viewpose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{current.Name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 holdFor">
                                <form>
                                    <label>Hold:<input class="editPoseInput" type="text" ng-model="current.Duration" />Breaths</label></br>
                                    <label>Side:<input class="editPoseInput" type="text" ng-model="current.Side" /></label>
                                </form>
                            </div>
                            <div class="col-xs-6">
                                <img class="modalphoto" src={{current.Reference.ImageURL}} />
                            </div>
                        </div>
                    </div>
                    <div>
                        {{current.Reference.Info}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveChanges()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>