
@{
    ViewBag.Title = "PracticeBuilder";
}

<h2>PracticeBuilder</h2>
<div ng-controller="practiceCtrl">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <select ng-model="selectedPractice" ng-options="practice.name for practice in practices"></select>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="fetchBasePoses()">
                    Add Pose
                </button>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="col-xs-2">
                    <input type="text" ng-model="newPractice" placeholder="Name of new practice" /> 
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default" ng-click="generateNewPractice()">Create New Practice</button>
                </div>
            </form>
        </div>
    </div>

    <!-- current practice -->
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            {{selectedPractice.name}}
                        </h4>
                    </div>
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Name</th>
                                <th class="col-xs-2">Duration</th>
                                <th class="col-xs-2">Side</th>
                                <th class="col-xs-3">Thumbnail</th>
                                <th class="col-xs-3">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pose in selectedPractice.poses">
                                <td class="col-xs-2">{{pose.name}}</td>
                                <td class="col-xs-2">{{pose.breaths}} Breaths</td>
                                <td class="col-xs-2">{{pose.side}}</td>
                                <td class="col-xs-3"><img class="thumbnail" src={{pose.thumb}} /></td>
                                <td class="col-xs-3">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewpose" ng-click="popUpPose(pose)">
                                        View/Edit
                                    </button>
                                    <button class="btn btn-default" ng-click="remove(pose)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <!-- view/edit modal -->
    <div class="modal fade" id="viewpose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{current.name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <form>
                                    <label>Hold:<input type="text" placeholder={{current.breaths}} />Breaths</label>
                                    <label>Side:<input type="text" placeholder={{current.side}} /></label>
                                </form>
                            </div>
                            <div class="col-xs-6">
                                <img class="modalphoto" src={{current.thumb}} />
                            </div>
                        </div>
                    </div>
                    <div>
                        {{current.info}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


<!-- add pose modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select A Pose</h4>
                </div>
                <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>
                                            {{selectedPractice.name}}
                                        </h4>
                                    </div>
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-2">Name</th>
                                                <th class="col-xs-2">Duration</th>
                                                <th class="col-xs-2">Side</th>
                                                <th class="col-xs-3">Thumbnail</th>
                                                <th class="col-xs-3">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pose in basePoses">
                                                <td class="col-xs-2">{{pose.Name}}</td>
                                                <td class="col-xs-2">{{pose.DurationSuggestion}} Breaths</td>
                                                <td class="col-xs-2">"R"</td>
                                                <td class="col-xs-3"><img class="thumbnail" src={{pose.ImageURL}} /></td>
                                                <td class="col-xs-3">
                                                    <button type="button" class="btn btn-primary" ng-click="addToPractice(pose)">
                                                        Add
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>