
@{
    ViewBag.Title = "PracticeBuilder";
}

<h2>PracticeBuilder</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <select name="select">
                <option value="value1" selected>Select a Practice...</option>
                <option value="value2">Practice 1</option>
                <option value="value3">PRactice 2</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add Pose
            </button>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="col-xs-2">
                <input type="text" placeholder="Name of new practice" /> 
            </div>
            <div class="col-xs-2">
                <button class="btn btn-default">Create New Practice</button>
            </div>
        </form>
    </div>
</div>

<!-- current practice -->
<div ng-controller="practiceCtrl">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Name Of Practice
                    </h4>
                </div>
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Name</th>
                            <th class="col-xs-2">Duration</th>
                            <th class="col-xs-2">Side</th>
                            <th class="col-xs-3">Thumbnail</th>
                            <th class="col-xs-3">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pose in practice">
                            <td class="col-xs-2">{{pose.name}}</td>
                            <td class="col-xs-2">{{pose.breaths}} Breaths</td>
                            <td class="col-xs-2">{{pose.side}}</td>
                            <td class="col-xs-3"><img class="thumbnail" src={{pose.thumb}} /></td>
                            <td class="col-xs-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewpose">
                                    View/Edit
                                </button>
                                <button class="btn btn-default">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- add pose modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select A Pose</h4>
            </div>
            <div class="modal-body">
                <div ng-controller="practiceCtrl">
                    <div class="container">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        Name Of Practice
                                    </h4>
                                </div>
                                <table class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Name</th>
                                            <th class="col-xs-2">Duration</th>
                                            <th class="col-xs-2">Side</th>
                                            <th class="col-xs-3">Thumbnail</th>
                                            <th class="col-xs-3">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pose in basePoses">
                                            <td class="col-xs-2">{{pose.name}}</td>
                                            <td class="col-xs-2">{{pose.breaths}} Breaths</td>
                                            <td class="col-xs-2">{{pose.side}}</td>
                                            <td class="col-xs-3"><img class="thumbnail" src={{pose.thumb}} /></td>
                                            <td class="col-xs-3">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewpose">
                                                    View/Edit
                                                </button>
                                                <button class="btn btn-default">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- view/edit modal -->
<div class="modal fade" id="viewpose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Triangle</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <form>
                                <label>Hold:<input type="text" placeholder="5" />Breaths</label>
                                <label>Side:<input type="text" placeholder="R" /></label>
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <img class="modalphoto" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Trikonasana_Yoga-Asana_Nina-Mel.jpg" />
                        </div>
                    </div>
                </div>
                <div>
                    <p>Trikonasana is usually performed in two parts, facing left, and then facing right. The practitioner begins standing with the feet one leg-length apart, knees unbent, turns the right foot completely to the outside and the left foot less than 45 degrees to the inside, keeping the heels in line with the hips. The arms are spread out to the sides, parallel to the ground, palms facing down; the trunk is extended as far as is comfortable to the right, while the arms remain parallel to the floor. Once the trunk is fully extended to the right, the right arm is dropped so that the right hand reaches the shin (or a block or on the floor) to the front (left side) of the right foot, with the palm down if flexed. The left arm is extended vertically, and the spine and trunk are gently twisted counterclockwise (i.e., upwards to the left, since they're roughly parallel to the floor), using the extended arms as a lever, while the spine remains parallel to the ground. The arms are stretched away from one another, and the head is often turned to gaze at the left thumb, slightly intensifying the spinal twist. Returning to standing, the bend is then repeated to the left.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>